<nav class="navbar navbar-toggler navbar-expand-lg navbar-ligth bg-light pt-3">
  <div class="nav-item col-2 p-2">
    <a class="nav-link text-center fs-2" href="/"> <h6 class="text-uppercase fw-bold mb-4 text-secondary">Marcas</h6></a>
  </div>

  
  <div class="nav-item col-2 p-2">
    <a class="nav-link text-center fs-2" href="/series"><h6 class="text-uppercase fw-bold mb-4 text-secondary">Series</h6></a>
  </div>

  
  <div class="nav-item col-2 p-2">
    <a class="nav-link text-center " href="/vehiculos"><h6 class="text-uppercase fw-bold mb-4 text-secondary">Vehículos</h6></a>
  </div>


  
  <div class="col-6 p-2">
    <a class="nav-link text-end fs-2 text-secondary"><h6 class="text-uppercase fw-bold mb-4 text-secondary">Página de Dan, Javi, Pablo y César</h6></a>
  </div>
  
</nav>