{% extends 'layout.html' %}

{% block body %}

<script src="https://kit.fontawesome.com/2e7e2c30ba.js" crossorigin="anonymous"></script>




<div class="row mt-2 justify-content-center">

    <div class="col-md-6 ">


        {% include 'partials/_message.html' %}


        <form action="/series/new" method="POST" class="card p-2 bg-dark text-light text-center ">
            <div class="mb-3 ">
                <label for="nombre text-center">Escribe el nombre </label>
                <input class="form-control rounded-0 bg-dark border-0 text-white text-center" type="text" name="nombre" placeholder="Introduce tu nombre" />
            </div>


            <div class="mb-3 ">
                <label for="nombre">Elige la marca </label>
                <!-- <input class="form-control rounded-0 bg-dark border-0 text-white" type="text" name="nombre" placeholder="Introduce tu nombre" /> -->
                <select class="form-control text-center rounded-pill w-50" style="margin: auto;" name="marca_id" required>
                    {% for marca in marcas %}
                        <option value='{{marca.id}}'>{{marca.nombre}}</option>
                    {% endfor %}    
                </select>
            </div>

            
            <button class="btn-primary rounded-pill">Save</button>
            </form>
    
        
              <br>
          
    </div>


    
    

    <div class="col-md-12">
                
       
        <!--MOTOR que usa Flask para esto es NINJA, usa formato liquid-->
        {% for serie in series %}

            <div class="card mb-1 text-white bg-dark ">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5>{{serie.nombre}}</h5>


                        <p class="text-danger"> {{serie.marca}}</p>
                        <div>
                            <!--Función para llamar directamente a la función update del blueprint-->
                           
                            <a class="fas fa-wrench text-primary" href="{{ url_for('series.update',  id=serie.id) }}"></a>
                            <br>    
                            <a class="fas fa-trash-alt text-danger" href="{{ url_for('series.delete',  id=serie.id) }}"></a>
                            
                           
                            
                          
                        </div>
                    </div>
                </div>
            </div>
    
        {% endfor %}
  
    </div>



</div>



{% endblock %}