{% extends 'layout.html' %}

{% block body %}

<script src="https://kit.fontawesome.com/2e7e2c30ba.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/static/css/paginas_tablas.css">

<div class="row mt-2 justify-content-center">

    <div class="col-md-6 ">


        {% include 'partials/_message.html' %}


        <form action="/series/new" method="POST" class="card p-2 bg-dark text-light text-center ">

            <div class="MB-2 border ">
                <p class="align-self-center">CREAR SERIE</p>
            </div>

            <div class="mb-3 ">
                <label for="nombre text-center">Escribe nombre </label>
                <input class="form-control rounded-0 bg-dark border-0 text-white text-center" type="text" name="nombre" placeholder="Introduce nombre" />
            </div>


            <div class="mb-3 ">
                <label for="nombre">Elige la marca </label>
                <!-- <input class="form-control rounded-0 bg-dark border-0 text-white" type="text" name="nombre" placeholder="Introduce tu nombre" /> -->
                <select class="form-control text-center rounded-pill w-50" style="margin: auto;" name="marca_id" required>
                    {% for marca in marcas %}
                        <option value='{{marca.id}}'>{{marca.nombre}}</option>
                    {% endfor %}    
                </select>
            </div>

            
            <button class="btn-primary rounded-pill">Guardar</button>
            
        </form>
    
        
              <br>
          
    </div>


    
    

    <div class="col-md-12">
                
        <table class="table table-hover text-center table-dark">
            <tr>
                <th>Nombre Serie</th>
                <th>Marca</th>
                <th>Actualizar registro</th>
                <th>Borrar registro</th> 
            </tr>


        <!--MOTOR que usa Flask para esto es NINJA, usa formato liquid-->
        {% for serie in series %}

        <tr>
            <td> <span class="">{{serie.nombre}}</span> </td>

            <td><span >{{serie.marca}}</span></td>

            <td><a href="{{ url_for('series.update',  id=serie.id) }}"><i class="bg-primary text-dark fas fa-wrench "></i></a></td>

            <td><a  href="{{ url_for('series.delete',  id=serie.id) }}"><i class="fas fa-trash-alt bg-danger text-dark"></i></a></td>




        </tr>








        {% endfor %}

        </table>
  
    </div>



</div>



{% endblock %}