body{
    background-color: #121212;
}

.bg-black{
    background: #090909;
}

.carousel {
    z-index: -99;
    top: 0;
}
.carousel-item {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

#item1 {
    background: url(/static/images/1.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
#item2 {
    background: url(/static/images/2.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
#item3 {
    background: url(/static/images/3.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
#item4 {
    background: url(/static/images/4.jpg);
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .active .left {
    left: 0;
    opacity: 100;
    z-index: 2;
    transition-timing-function: ease-in-out;
}


.principal{
    min-height: 75vh;
}


.cuadro_busqueda{
    background-color: rgba(204, 204, 204, 0.774);
}



.linea::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #858585;
    transition: 0.4s
}

.linea:hover::after {
    width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #858585
}


.contenedor-propio{

    background-color: #4949499a;
    padding: 20px;
}