{% extends 'layout.html' %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-5 ">
        <form action="/vehiculos/busqueda" method="POST" class=" bg-ligth text-dark">
            <div class="mb-3 row">
                <label for="matricula2" class="col text-light">Busqueda por matrícula </label>
                <input class="form-control col text-black" type="text" name="matricula2" placeholder="Introduce matrícula" />
                
                <select class="form-control"  name="serie_busqueda" required>
                    <option value="None" selected>Select an Option</option>
                    {% for serie in series %}
                        <option value='{{serie.id}}'>{{serie.nombre}}</option>
                    {% endfor %}    
                </select>
                
                <button class="btn btn-secondary col-2">Buscar</button>
            </div>
        </form>    
    </div>
</div>

<div class="row">

    <div class="col-md-5">

        <div class="">

            {% include 'partials/_message.html' %}


            <form action="/vehiculos/new" method="POST" class="card p-2 bg-dark text-light">
                <div class="mb-3">
                    <label for="matricula">Escribe la matrícula </label>
                    <input class="form-control rounded-0 bg-dark border-0 text-white" type="text" name="matricula" placeholder="Introduce matrícula" />
                </div>
                <div class="mb-3">
                    <label for="color">Escribe el color </label>
                    <input class="form-control rounded-0 bg-dark border-0 text-white" type="text" name="color" placeholder="Introduce color" />
                </div>


                <div class="mb-3">
                    <label for="nombre">Elige la serie </label>
                    <!-- <input class="form-control rounded-0 bg-dark border-0 text-white" type="text" name="nombre" placeholder="Introduce tu nombre" /> -->
                    <select class="form-control"  name="serie_id" required>
                        {% for serie in series %}
                            <option value='{{serie.id}}'>{{serie.nombre}}</option>
                        {% endfor %}    
                    </select>
                </div>

               
              
                <button class="btn-primary">Save</button>
              </form>
        </div>

          
    </div>

    <div class="col-md-7">
                
        {% if vehiculos|length > 0 %}
            <!--MOTOR que usa Flask para esto es NINJA, usa formato liquid-->
            {% for v in vehiculos %}

                <div class="card mb-1 text-white bg-dark">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>{{v.serie}}</h5>

                            <p class="text-danger"> {{v.matricula}}</p>
                            <div>
                                <!--Función para llamar directamente a la función update del blueprint-->
                                <a class="btn btn-dark bg-black btn-sm rounded-0" href="">Update</a>
                        
                                <a class="btn btn-danger btn-sm rounded-0" href="">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
        
            {% endfor %}

        {% else %}    

            <div class="card mb-1 text-white bg-dark">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="text-white">No hay resultados</h5>
                    </div>
                </div>
            </div>

        {% endif %}
  
    </div>



</div>



{% endblock %}