{% extends 'layout.html' %}

{% block body %}

<link href="/static/css/paginas_tablas.css" rel="stylesheet">


<script src="https://kit.fontawesome.com/2e7e2c30ba.js" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
</script>  

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
</script>  

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
    rel="stylesheet" type="text/css" />  

<div class="row justify-content-center mt-3">

    <!-- empieza formulario -->
    <div class="col-3 mt-2">
        
        {% include 'partials/_message.html' %}

        <form action="/vehiculos/new" method="POST" class="card p-2 bg-dark text-light text-center">
            <div class="mb-3 border ">
                <p class="align-self-center">CREAR VEHÍCULO</p>
            </div>
            <div class="mb-3">
                <label for="matricula">Escribe la matrícula </label>
                <input class="form-control rounded-0 bg-dark border-0 text-white text-center rounded-pill" type="text" name="matricula" placeholder="Introduce matrícula" />
            </div>
            <div class="mb-3">
                <label for="color">Escribe el color </label>
                <input class="form-control rounded-0 bg-dark border-0 text-white text-center rounded-pill" type="text" name="color" placeholder="Introduce color" />
            </div>


            <div class="mb-3">
                <label for="nombre ">Elige la serie </label>
                <!-- <input class="form-control rounded-0 bg-dark border-0 text-white" type="text" name="nombre" placeholder="Introduce tu nombre" /> -->
                <select class="form-control text-center rounded-pill"  name="serie_id" required>
                    {% for serie in series %}
                        <option value='{{serie.id}}'>{{serie.nombre}} - {{serie.marca}} </option>
                    {% endfor %}    
                </select>
            </div>

           
          
            <button class="btn-primary rounded-pill">Guardar</button>
          </form>
    </div>

    <!-- empieza cuadros busqueda -->
    <div class="col-6 align-self-center">
        <form action="/vehiculos/busqueda_matricula" method="POST" class=" bg-ligth text-dark">
            <div class="mb-3 row cuadro_busqueda">
                <label for="matricula2" class="col text-dark text-center align-self-center">Busqueda por matrícula </label>
                <input class="form-control col text-black text-center rounded-pill" type="text" name="matricula2" placeholder="Introduce matrícula" />
                
                <button class="btn btn-secondary col-2 rounded-pill">Buscar</button>
            </div>
        </form>    

        <form action="/vehiculos/busqueda_serie" method="POST" class=" bg-ligth text-dark">
            <div class="mb-3 row cuadro_busqueda">
                <label for="serie_busqueda" class="col text-dark text-center align-self-center">Busqueda por tipo de serie </label>
                <select class="form-control col text-center rounded-pill"  name="serie_busqueda" required>
                    <option value="None" selected>Selecciona una serie</option>
                    {% for serie in series %}
                        <option value='{{serie.id}}'>{{serie.nombre}} - {{serie.marca}}</option>
                    {% endfor %}    
                </select>
                <button class="btn btn-secondary col-2 rounded-pill">Buscar</button>

            </div>

        </form>
    </div>

</div>

<!-- Empieza el listado de vehículos -->
<div class="row mt-2">
    
    {% if vehiculos|length > 0 %}
    <table class="table table-hover text-center table-dark">
        <tr>
            <th>Matrícula</th>
            <th>Color</th>
            <th>Serie</th>
            <th>Marca</th>
            <th>Modificar Registro</th>
            <th>Borrar Registro</th>
        </tr>
            <!--MOTOR que usa Flask para esto es NINJA, usa formato liquid-->
            {% for v in vehiculos %}

                <tr>
                    <td> <span class="">{{v.matricula}}</span> </td>


                    <td style="background-color:{{v.color}};"><span class="fondo text-dark"> {{v.color}}</span></td>

                    <td><span >{{v.serie}}</span></td>

                    <td><span  >{{v.serie.marca}}</span></td>

                    <td><a class="" href="{{ url_for('vehiculos.update',  id=v.id) }}"><i class="bg-primary text-dark fas fa-wrench"></i></a></td>

                    <td><a class="" href="{{ url_for('vehiculos.delete',  id=v.id) }}"><i class="fas fa-trash-alt bg-danger text-dark"></i></a></td>

                </tr>

            {% endfor %}

        {% else %}

            <div class="card mb-1 text-white bg-dark">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="text-white">No hay resultados</h5>
                    </div>
                </div>
            </div>

        {% endif %}

    </table>



</div>


<!-- <script>
    $( function() {
      var availableTags = [
          {% for matriculas in vehiculos %}
              "{{matriculas}}"
          {% endfor %}
      ];
      $( "#tags" ).autocomplete({
        source: availableTags
      });
    } );
</script> -->



{% endblock %}